<div id="app">
    <v-app dark>
        <v-main>
            <v-dialog hide-overlay persistent no-click-animation max-width="800" max-height="500" v-model="show">
                <template v-slot:activator="{ on, attrs }">
                    <v-fab-transition>
                        <v-btn dark fixed bottom right fab v-bind="attrs" v-on="on">
                            <v-icon>mdi-download</v-icon>
                        </v-btn>
                    </v-fab-transition>
                </template>

                <v-card dark>
                    <v-card-title class="headline blue-grey darken-4 dragable">動畫瘋-影片下載器
                        <v-spacer></v-spacer>
                        <v-btn icon @click="show = false">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-card-title>

                    <v-card flat :disabled="downloading">
                        <v-card-title>選擇畫質</v-card-title>
                        <v-scale-transition>
                            <div class="pa-2 text-center" v-show="!src">
                                <v-card-text class="text-subtitle-1">尚未取得影片資源，請先嘗試播放影片</v-card-text>
                                <v-progress-linear indeterminate></v-progress-linear>
                            </div>
                        </v-scale-transition>

                        <v-scale-transition v-for="q in qualities">
                            <v-btn large rounded outlined class="ma-2" :color="qualityColor(q)" :key="q.height"
                                @click="download(q)" v-show="src">
                                <v-icon left size="28">{{qualityIcon(q)}}</v-icon>{{q.height}}P
                            </v-btn>
                        </v-scale-transition>
                    </v-card>

                    <v-divider></v-divider>

                    <v-expand-transition>
                        <v-card flat class="text-center" v-show="downloading" :key="1">
                            <v-card-title>下載進度</v-card-title>
                            <div class="text-center">{{message}}</div>
                            <div class="pa-2">
                                <v-progress-linear color="light-blue" height="20" :value="progress" striped>
                                    {{progressText}}
                                </v-progress-linear>
                            </div>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="red darken-3" :loading="aborting" @click="abort">取消</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-expand-transition>
                </v-card>
            </v-dialog>
        </v-main>
    </v-app>
</div>